.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (min-width:480px) and (max-width:992px){
* {
  background-color: #5aceff;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  color: #ff8e5a;
  background-color: #3620ff;
}
h3 {
  font-size: 30px;
  color:#ffe15a;
}
span {
  color: #c55aff;
  font-size: 20px;
}
.md-resize {
  height:100px;
  padding: 15px;
  }
#why .row>.first, #why .row>.second, #why .row>.third{
  margin-top:30px;
}
}
/* MODIFICHE STILE SEZIONE XS */
@media screen and (max-width:480px){
* {
  background-color: #2d54ff;
}
h1 {
  font-size: 50px;
  color: #ff2b20;
  background-color: black;
}
h3 {
  font-size: 30px;
  color:#ff8c2d;
}
span {
  color: #fff52d;
  font-size: 20px;
}
.row {
  margin-top: 60px;
}
.xs-display-none { display: none; }
.xs-resize { height:90px;}
}

@media screen and (min-width:992px) {
}
